RestServiceClient/Web References/servico/RestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestService_GetStringUserFullName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringUserFullName" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetStringUserFullName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringUserFullNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetStringUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringUserName" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetStringUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetObjectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectUser" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetObjectUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestService">
    <wsdl:operation name="GetStringUserFullName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetStringUserFullName" message="tns:IRestService_GetStringUserFullName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetStringUserFullNameResponse" message="tns:IRestService_GetStringUserFullName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStringUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetStringUserName" message="tns:IRestService_GetStringUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetStringUserNameResponse" message="tns:IRestService_GetStringUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObjectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetObjectUser" message="tns:IRestService_GetObjectUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetObjectUserResponse" message="tns:IRestService_GetObjectUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestService" type="tns:IRestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStringUserFullName">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetStringUserFullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringUserName">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetStringUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjectUser">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetObjectUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestService">
    <wsdl:port name="BasicHttpBinding_IRestService" binding="tns:BasicHttpBinding_IRestService">
      <soap:address location="http://localhost:5000/SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>